<div>
  {{#ui-form newValue=model  validation="save" cancel="cancel" bigIcon='user' smallIcon='plus' header='step' description='Adding an object'}}
    <div class="field">
      <label id="" class="" for="frmEdit-title">Title</label>
      <div id="div-frmEdit-title" class="ui input">
        {{input id="frmEdit-title" value=model.title placeholder="Title"}}
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}